/* 
Tacan (zelena) -> #69B578
Netacan (crvena) -> #9B2915
Main (zuta) -> #FFCD00
Main (plava) -> #002C3C
*/

/* Navbar */
.navbar_main, .navbar_main ul, #navbarAccountInfo {
  background-color: #002C3C;
  color: #FFF;
}

.navbar_main a, input.dropdown-item {
  color: #FFF;
  text-decoration: none;
}

.navbar_main .active, .navbar_main a:focus, .navbar_main a:hover {
  color: #FFCD00;
}

.navbar_main a:active {
  color: #FFCD00;
}

.navbar_main .dropdown-item:hover {
  color: #002C3C;
  background-color: #FFCD00;
}

.navbar_main .registration_button {
  color: #002C3C;
  background-color: #FFCD00;
  border-radius: 5px;
}

.navbar_main .registration_button:hover {
  color: #FFCD00;
  background-color: #002C3C;
}

input.dropdown-item {
  background-color: #9B2915;
}

.dropdown_user {
  text-align: center;
}


/* Registration.php */
.reg_body {
  background-color: #00465F;
}

.registration_container {
  color: #FFF;
  background-color: #00465F;
  border: 0;
}

.reg_image {
  height: 70%;
  width: 100%;
}

.reg_text {
  color: #FFCD00;
}

.reg_btn {
  color: #002C3C;
  background-color: #FFCD00;
  border-color: #00465F;
}

.reg_btn:hover {
  color: #FFCD00;
  background-color: #00465F;
  border-color: #00465F;

}

.reg_link {
  color: #FFF;
  text-decoration: none;
}

.reg_link:focus{
  color: #FFCD00;
}

.reg_link:hover {
  color: #FFCD00;
}

.reg_link:active {
  color: #FFCD00;
}


#pwHelp, #unHelp {
  color: #FFCD00 !important;
}

@media only screen and (max-width: 991px) {
  .reg_image {
    display: none;
  }

  .registration_container {
    width: 100%;
  }
}

/* Profile */

.profile_body {
  min-height: 100vh;
  overflow-x: hidden;
}

.profile_row {
  color: #000;
}

.profile-head {
  transform: translateY(5rem)
}

.profile_name {
  color: white;
}

.cover {
  background-size: cover;
  background-repeat: no-repeat
}

@media only screen and (max-width: 991px) {
  .cover {
    background-image: none;
    background-color: #002C3C;
  }
}

.edit_profile_btn {
  color: #00465F;
  background-color: #FFCD00;
  transition: 0.3s ease-in;
}

.edit_profile_btn:hover {
  background-color: #e7b900;
}