/* 
Tacan (zelena) -> #69B578
Netacan (crvena) -> #9B2915
Main (zuta) -> #FFCD00
Main (plava) -> #002C3C
*/

/* Navbar */
.navbar_main, .navbar_main ul, #navbarAccountInfo {
  background-color: #002C3C;
  color: #FFF;
}

.navbar_main a, input.dropdown-item {
  color: #FFF;
  text-decoration: none;
}

.navbar_main .active, .navbar_main a:focus, .navbar_main a:hover {
  color: #FFCD00;
}

.navbar_main a:active {
  color: #FFCD00;
}

.navbar_main .dropdown-item:hover {
  color: #002C3C;
  background-color: #FFCD00;
}

.navbar_main .registration_button {
  color: #002C3C;
  background-color: #FFCD00;
  border-radius: 5px;
}

.navbar_main .registration_button:hover {
  color: #FFCD00;
  background-color: #002C3C;
}

input.dropdown-item {
  background-color: #9B2915;
}

.dropdown_user {
  text-align: center;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.green_field {
  color: #69B578 !important;
}

/* Footer */

.footer_container {
  background-color: #00465F;
  color: #FFF;
}

/* About us */

.i_frame_map {
  width: 100%;
  min-height: 300px;
  height: 60vh;
  max-height: 60vh;
}

/* Registration.php */

.reg_body {
  background-color: #00465F;
}

.registration_container {
  color: #FFF;
  background-color: #00465F;
  border: 0;
}

.reg_image {
  height: 70%;
  width: 100%;
}

.reg_text {
  color: #FFCD00;
}

.reg_btn {
  color: #002C3C;
  background-color: #FFCD00;
  border-color: #00465F;
}

.reg_btn:hover {
  color: #FFCD00;
  background-color: #00465F;
  border-color: #00465F;

}

.reg_link {
  color: #FFF;
  text-decoration: none;
}

.reg_link:focus{
  color: #FFCD00;
}

.reg_link:hover {
  color: #FFCD00;
}

.reg_link:active {
  color: #FFCD00;
}


#pwHelp, #unHelp {
  color: #FFCD00 !important;
}

/* Quiz */

#quizForm input[type=checkbox], #quizForm input[type=radio] {
  accent-color: #00465F;
}

#quizForm .form-control:focus {
  border-color: #00465F;
  box-shadow: 0 0 5px #00465f7e;
}

.question_text {
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-family: 'Source Code Pro';
}

.quiz_row input:hover:not(.form-control), .answers_text:hover {
  cursor: pointer;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #00465F;
}

/* Quiz Submit */

.quiz_submit_row {
  height: 30vh;
  margin-top: 30vh !important;
  color: #FFCD00;
}

.quiz_submit_col {
  background-color: #00465fd0;
  border: 2px dashed #002C3C;
}

.result_container {
  margin-top: 15%;
}

/* Quiz Result */
.result_larger {
  color: #69B578;
}

.result_smaller {
  color: #9B2915;
}

/* Profile */

.profile_body {
  min-height: 100vh;
  overflow-x: hidden;
}

.profile_row {
  color: #000;
}

.profile-head {
  transform: translateY(5rem)
}

.profile_name {
  color: white;
}

.cover {
  background-size: cover;
  background-repeat: no-repeat
}

.edit_profile_btn {
  color: #00465F;
  background-color: #FFCD00;
  transition: 0.3s ease-in;
}

.edit_profile_btn:hover {
  background-color: #e7b900;
}

.achievement_locked img {
  filter: grayscale(100%) contrast(1.5) !important;
}

.achievement_unlocked .achievement_title {
  color: #00465F;
}

/* Profile settings */

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
}
.account-settings .about {
  margin: 1rem 0 0 0;
  font-size: 0.8rem;
  text-align: center;
}
.card {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}
.form-control {
  border: 1px solid #596280;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
}

.change_profile_btn {
  color:#FFCD00;
  background-color: #002C3C;
  border: none;
}

.change_profile_btn:hover {
  color:#FFCD00;
  background-color: #00465F;
}

#description {
  width: 200px;
  max-height: 100px;
}

/* Search */
.search_profile:hover {
  cursor: pointer;
}

.search_profile:hover .card {
  background-color: #ffcc001f;
}

/* Stats */
.stats_link:link, .stats_link:visited {
  color: #002C3C;
  text-decoration: none;
}

ul li .page-link {
  background-color: #002C3C;
  color: #FFCD00;
}

ul li .page-link:hover {
  background-color: #00465F;
  color: #FFCD00;
}

.page-item.active .page-link {
  border-color: #002C3C;
  color: #FFCD00;
}

ul > li.active.page-item > a {
  background-color: #00465F !important;
  color: #FFCD00;
}

/* Categories */

.card_category:hover {
  cursor: pointer;
}

.card_category:hover .team-style1 .team-info {
  background-color: #ffcc00ad;
}

.card_category:hover .team-style1 .team-info h6 {
  color: #002C3C;
}

.card_category:hover .team-style1 .team-info small {
  color: #002C3C;
}

.team-style1 {
  position: relative;
}

.team-style1 .team-img {
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.09);
  text-align: center;
}

.team-style1 .team-img img {
  display: inline-block;
}

.team-style1 .team-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  background-color: #002C3C;
  text-align: center;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  transition: 0.2s ease-in;
}

.team-style1 .team-info h6 {
  display: block;
  color: #fff;
  text-transform: capitalize;
  transition: 0.2s ease-in;
}

.team-style1 .team-info small {
  display: block;
  color: #FFCD00;
  transition: 0.2s ease-in;
}

/* Questions */
.wrong_answer {
  background-color: #9b291560;
  border-color: #9B2915;
}

.wrong_answer:focus {
  background-color: #9b29150e;
  border-color: #9B2915;
  box-shadow: 0 0 5px #9b2915bd;
}

.correct_answer {
  background-color: #69b57849;
  border-color: #69B578;
}

.correct_answer:focus {
  background-color: #9b29150e;
  border-color: #69B578;
  box-shadow: 0 0 5px #69b578b7;
}

/* Media queries */
@media only screen and (max-width: 991px) {
  .reg_image {
    display: none;
  }

  .registration_container {
    width: 100%;
  }

  .cover {
    background-image: none;
    background-color: #002C3C;
  }

  .team-style1 .team-info {
    padding: 15px;
  }
  
  .dropdown-menu.show {
    width: 100%;
  }
  
  #navbarDropdownMenuAvatar > img {
    width: 100px;
    height: 100px;
  }

  .nav-item, .dropdown-item {
    padding: 10px;
    text-align: center;
  }

  #navbarDropdownMenuAvatar {
    width: 100%;
  }
}
